
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table style="border:1px solid black">
            <tr>
                <td>
                    CustId
                </td>
                <td>
                    @ViewBag.CustId
                </td>
            </tr>
            <tr>
                <td>
                    CustName
                </td>
                <td>
                    @ViewBag.CustName
                </td>
            </tr>
            <tr>
                <td>
                    EmpId
                </td>
                <td>
                    @ViewBag.EmpId
                </td>
            </tr>
            <tr>
                <td>
                    EmpName
                </td>
                <td>
                    @ViewBag.EmpName
                </td>
            </tr>
            <tr>
                <td>
                    Orderdate
                </td>
                <td>
                    @ViewBag.Orderdate
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
